@model RegistroViewModel

@{
    ViewData["Title"] = "Registro";
}
<style>
    .divider:after,
    .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
    }

    .h-custom {
        height: calc(100% - 73px);
    }

</style>



<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Registro">
                    <h2 class="mb-4">Registro</h2>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Registrarse
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            ¿Ya tienes una cuenta? <a asp-action="login"
                                                      class="link-danger">Login</a>
                        </p>
                    </div>
                    <hr class="my-4">

                    <button class="btn btn-lg btn-block btn-primary mb-2 w-100 border-0" style="background-color: #dd4b39;"
                            type="submit">
                        <i class="bi bi-google"></i> Sign in with google
                    </button>
                    <button class="btn btn-lg btn-block btn-primary mb-2 w-100 border-0" style="background-color: #3b5998;"
                            type="submit">
                        <i class="bi bi-microsoft"></i> Sign in with microsoft
                    </button>


                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}


